body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

.cursive {
    font-family: 'Permanent Marker', cursive;
}

#main-title {
    padding-left: 1em;
}

.card {
    height: 300px;
    max-height: 300px;
}

.small-card {
    height: 200px;
    min-height: 200px;
}

.card .card-content {
    height: 250px;
}

.card .card-action {
    height: 65px;
}

.small-card .card-content {
    height: 150px;
}

.small-card .card-action {
    height: 65px;
}