{% extends "base.html" %}
{% block content %}

<h3 class="center-align">The Catalog</h3>

<!-- Search Bar -->
<form action="{{ url_for('search') }}" method="POST">
    <div class="row">
        <div class="input-field col s8">
            <input type="text" name="search_string" id="search_string" minlength="3" class="validate" required>
            <label for="search_string">Search Articles</label>
        </div>
        <a href="{{ url_for('catalog') }}" class="btn col s2">Reset</a>
        <button class="col s2 btn" type="submit">
            Search
        </button>
    </div>
</form>

<!-- List out articles -->
<ul class="col s12 collapsible align-center">
    {% for article in articles %}
    <li>
        <div class="collapsible-header btn-large deep-purple lighten-3"><i class="fas fa-book"></i>{{ article.article_name }}</div>
        <div class="collapsible-body">
                <div class="row">
                    <ul class="col s6">
                        <li><strong>Author:</strong> {{ article.article_author }}</li>
                        <li><strong>Category:</strong> {{ article.article_category.title() }}</li>
                        <li><strong>Game System:</strong> {{ article.game_system }}</li>
                    </ul>
                    <div class="col s6">
                        <div class="row">
                            <a class="col btn s6 right" href="{{ article.article_link }}" target="_blank">Link to Document</a>
                        </div>
                        <div class="row">
                            <a class="col btn s6 right" href="{{ url_for('edit_article', article_id=article._id) }}">Edit Article</a>
                        </div>
                        <div class="row">
                            <a class="col btn s6 right red darken-4" href="#!">Delete Article</a>
                        </div>
                    </div>
                    
                </div>
            </div>
    </li>
    {% endfor %}
</ul>


  

{% endblock %}

