{% extends "base.html" %}
{% block content %}

<h3 class="center-align">The Catalog</h3>

<ul class="col s12 collapsible align-center">
    {% for article in articles %}
    <li>
        <div class="collapsible-header btn-large deep-purple lighten-3"><i class="fas fa-book"></i>{{ article.article_name }}</div>
        <div class="collapsible-body">
                <div class="row">
                    <ul class="col s6">
                        <li><strong>Author:</strong> {{ article.article_author }}</li>
                        <li><strong>Category:</strong> {{ article.article_category.title() }}</li>
                        <li><strong>Game System:</strong> {{ article.game_system }}</li>
                    </ul>

                    <a class="col s6 btn-large" href="{{ article.article_link }}" target="_blank">Link to Document</a>
                </div>
            </div>
    </li>
    {% endfor %}
</ul>


  

{% endblock %}

