{% extends "base.html" %}
{% block content %}

<h3 class="center-align">The Catalog</h3>

<!-- Search Bar -->
<form action="{{ url_for('search') }}" method="POST">
    <div class="row">
        <div class="input-field col s8">
            <input type="text" name="search_string" id="search_string" minlength="3" class="validate" required>
            <label for="search_string">Search Articles</label>
        </div>
        <a href="{{ url_for('catalog') }}" class="btn col s2">Reset</a>
        <button class="col s2 btn" type="submit">
            Search
        </button>
    </div>
</form>

<!-- List out articles -->
<div class="row center-align">
    <ul class="col s12 center-align">
        {% for article in articles %}
        <li>
            <div class="col s12 m6 l4">

                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title"><strong>{{ article.article_name }}</strong></span>
                        <div class="row">
                            <div class="col s4"><strong>Author:</strong> {{ article.article_author }}</div>
                            <div class="col s4"><strong>Category:</strong> {{ article.article_category.title() }}</div>
                            <div class="col s4"><strong>Game System:</strong> {{ article.game_system }}</div>
                        </div>
                    </div>
                    <div class="card-action">
                        <div class="row">
                            <div class="col s4">
                                <a class="btn teal darken-2" href="{{ article.article_link }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                            </div>
                            
                             {% if session["user"] %}
                                <div class="col s4">
                                    <a class="btn teal darken-2" href="{{ url_for('edit_article', article_id=article._id) }}"><i class="fas fa-pencil-alt"></i></a>
                                </div>
                                <div class="col s4">
                                    <a class="btn red darken-4" href="{{ url_for('delete_article', article_id=article._id) }}"><i class="far fa-trash-alt"></i></a>
                                </div>
                            {% endif %}
                        </div>

                        </div>
                </div>
            </div>
        </li>
    
    
    
    
        {% endfor %}
    </ul>
</div>


  

{% endblock %}

