{% extends "base.html" %}
{% block content %}

    <div class="grid-container">
        <div class="grid-x grid-margin-x small-up-2 medium-up-3">
            <div class="cell">
                <div class="card">
                    <img src="static/img/Information_example_page_300px.jpg">
                    <div class="card-section">
                        <h4>This is a row of cards.</h4>
                        <p>This row of cards is embedded in an X-Y Block Grid.</p>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="card">
                    <img src="static/img/Information_example_page_300px.jpg">
                    <div class="card-section">
                        <h4>This is a card.</h4>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="card">
                    <img src="static/img/Information_example_page_300px.jpg">
                    <div class="card-section">
                        <h4>This is a card.</h4>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

